<%=include indexheader_index.html%>
<script>
    var initData = <%- JSON.stringify(initData[0])%>;
</script>
<div class="grid-warp">
  <div class="grid addressForm">
    <form>
    <div class="col-12">
      <label for="username">联系人</label>
      <input type="text" name="username" placeholder="你的姓名" id="username">
      <label for="phone">联系电话</label>
      <input type="text" name="phone" placeholder="你的手机号" id="phone">
      <label for="addresskey">送餐地址</label>
      <input type="text" name="addresskey" placeholder="小区/写字楼/学校等" id="addresskey" disabled>
      <input type="text" name="address" placeholder="详细地址（如门牌号等）" id="address">
    </div>
    <div class="col-12">
      <a href="javascript:;" class="addressBtn">确定</a>
    </div>
  </form>
  </div>
</div>
<div class="modal">
  <div class="content">
    <div class="modal_header">
      <input type="text" name="keySearch" placeholder="请输入地址关键字">
      <span>&times;</span>
    </div>
    <div class="modal_content">
      <ul>
        <li>
          <p><span>王文博</span><span> 15117909848</span></p>
          <p><i class="iconfont">&#xe609;</i> 望京西园四区 424栋1906</p>
        </li>
        <li>
          <p><span>王文博</span><span> 15117909848</span></p>
          <p><i class="iconfont">&#xe609;</i> 望京西园四区 424栋1906</p>
        </li>
        <li>
          <p><span>王文博</span><span> 15117909848</span></p>
          <p><i class="iconfont">&#xe609;</i> 望京西园四区 启阳路中青大厦 泰安市嘉德现代城 424栋1906</p>
        </li>
        <li>
          <p><span>王文博</span><span> 15117909848</span></p>
          <p><i class="iconfont">&#xe609;</i> 望京西园四区 424栋1906</p>
        </li>
        <li>
          <p><span>王文博</span><span> 15117909848</span></p>
          <p><i class="iconfont">&#xe609;</i> 望京西园四区 424栋1906</p>
        </li>
      </ul>
    </div>
    <div class="modal_footer">
      <a href="javascript:;"><i class="iconfont">&#xe605;</i> 新建收货地址</a>
    </div>
  </div>
</div>
<div class="footerlogo"></div>
<script>
    var backURL = getQueryString('back');
    var addressManage = new Vue({
      el: '#form',
      data: {
        initData:initData,
        suggestText:[],
        suggest:[]
      },
      methods:{
          update:function(e){
              var updateInfo = this.initData;
              var re_phone = /^1\d{10}$/;
              var re_str = /[@<>#\$%\^&\*]+/g;

              var paybtn = $('#addnewaddress').button('loading');

              for(var k in updateInfo){
                if(updateInfo[k]=="" || updateInfo[k]==null){
                  switch(k){
                    case 'receiveuser':
                      showFormErr('请填写收货人姓名');
                      break;
                      case 'phonenum':
                      showFormErr('请填写联系电话');
                      break;
                      case 'address':
                      showFormErr('请填写收货人地址');
                      break;
                      case 'addressKey':
                      showFormErr('请填写收货人详细地址');
                      break;
                  }
                  var paybtn = $('#addnewaddress').button('reset');
                  return false;
                }
              }
                if(!re_phone.test(updateInfo['phonenum'])){
                  showFormErr('手机号码格式不正确');
                  return false;
                }
                if(re_str.test(updateInfo['receiveuser'])){
                  showFormErr('用户名包含非法字符');
                  return false;
                }
              var updateId = updateInfo.id;
              $.ajax({
                  type:'POST',
                  url:'/address/update',
                  data:{updateJson:JSON.stringify(updateInfo),id:updateId},
                  success:function(data){
                    $.cookie('addId', data.data.addId);
                    $.cookie('address', data.data.address);
                    $.cookie('addressKey',data.data.addressKey);
                    $.cookie('receiveuser',data.data.receiveuser);
                    $.cookie('phonenum',data.data.phonenum);

                    window.location.href='/'+backURL;
                  }
              });
          },
          getsuggest:function(){
              var tableid = '5588fe0be4b062df8bcd62da';
              var city = '北京市';
              var keywords = this.suggestText;
              var filter = ' ';
              var limit = 10;
              var page = 1;
              var key = '4af78342937c8140440f75c9809063c5';
              var self = this;
              var sortrule="_name:1";

              $.ajax({
                  type: "get",
                  url: "http://yuntuapi.amap.com/datasearch/local?tableid="+tableid+"&city="+city+"&keywords="+keywords+"&key="+key+"&sortrule="+sortrule,
                  dataType: "jsonp",
                  jsonp: "callback",
                  success: function(json){
                    self.suggest = json.datas
                    console.log(json.datas);
                  },
                  error: function(){
                    console.log('fail');
                  }
              });
          },
          addsuggess:function(yuntu){
              $('#searchAddress').modal('hide');
              this.initData['addressKey']=yuntu._name;
          }
      }
    });
    function getQueryString(name) {
      var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
      var r = window.location.search.substr(1).match(reg);
      if (r != null) return unescape(r[2]); return null;
    }
</script>
</body>
</html>
