<%=include indexheader_index.html%>
<script>
    var initData = <%- JSON.stringify(initData[0])%>;
</script>
<form id="form">
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <button type="button" class="btn btn-success navbar-btn btn-block btn-lg" v-on="click:update">确定</button>
    </div>
</nav>
<div class="formdiv">
        <div class="form-group">
            <label for="receiveUser">联系人</label>
            <input type="text" class="form-control input-lg" id="receiveUser" placeholder="你的姓名" v-model="initData.receiveuser">
        </div>
        <div class="form-group">
            <label for="phoneNum">联系电话</label>
            <input type="tel" class="form-control input-lg" id="phoneNum" placeholder="你的手机号" v-model="initData.phonenum">
        </div>
        <div class="form-group">
            <label for="address">送餐地址</label>
            <input type="address" class="form-control input-lg" id="addressKey" placeholder="小区/写字楼/学校等" data-toggle="modal" data-target="#searchAddress" v-model="initData.addressKey" readonly >
        </div>
        <input type="address" class="form-control input-lg" id="address" placeholder="详细地址（如门牌号等）" v-model="initData.address">
</div>
<!-- {{$data | json 4}} -->
<div class="modal fade" id="searchAddress" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <input type="text" class="form-control input-lg" id="exampleInputAmount" placeholder="小区/写字楼/学校等" v-on="input:getsuggest" v-model="suggestText">
            </div>
            <div class="modal-body searchAddress-body">
                <table class="table">
                    <tr v-repeat="yuntu in suggest" v-on="click:addsuggess(yuntu)">
                        <td>
                            <h4>{{yuntu._name}}
                                <small>{{yuntu._address}}</small>
                            </h4>
                        </td>
                    </tr>
                    <div class="alert alert-danger" role="alert" v-show="!suggest.length">
                      还没有没有搜索到"{{suggestText}}"结果😢
                    </div>
                </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="glyphicon glyphicon-remove-circle"></i></button>
              <span class="pull-left ">输入地区关键字</span>
            </div>
        </div>
    </div>
</div>
</form>
<script>
    var backURL = getQueryString('back')
    var addressManage = new Vue({
      el: '#form',
      data: {
        initData:initData,
        suggestText:[],
        suggest:[]
      },
      methods:{
          update:function(e){
              var updateInfo = this.initData;
              var re_phone = /^1\d{10}$/;
              var re_str = /[@<>#\$%\^&\*]+/g;

              for(var k in updateInfo){
                if(updateInfo[k]=="" || updateInfo[k]==null){
                  switch(k){
                    case 'receiveuser':
                      showFormErr('请填写收货人姓名');
                      break;
                      case 'phonenum':
                      showFormErr('请填写联系电话');
                      break;
                      case 'address':
                      showFormErr('请填写收货人地址');
                      break;
                      case 'addressKey':
                      showFormErr('请填写收货人详细地址');
                      break;
                  }
                  return false;
                }
              }
                if(!re_phone.test(updateInfo['phonenum'])){
                  showFormErr('手机号码格式不正确');
                  return false;
                }
                if(re_str.test(updateInfo['receiveuser'])){
                  showFormErr('用户名包含非法字符');
                  return false;
                }
              var updateId = updateInfo.id;
              $.ajax({
                  type:'POST',
                  url:'/address/update',
                  data:{updateJson:JSON.stringify(updateInfo),id:updateId},
                  success:function(data){
                    $.cookie('addId', data.data.addId);
                    $.cookie('address', data.data.address);
                    $.cookie('addressKey',data.data.addressKey);
                    $.cookie('receiveuser',data.data.receiveuser);
                    $.cookie('phonenum',data.data.phonenum);
                    
                    window.location.href='/'+backURL;
                  }
              });
          },
          getsuggest:function(){
              var tableid = '5588fe0be4b062df8bcd62da';
              var city = '北京市';
              var keywords = this.suggestText;
              var filter = ' ';
              var limit = 10;
              var page = 1;
              var key = '4af78342937c8140440f75c9809063c5';
              var self = this;
              var sortrule="_name:1";

              $.ajax({
                  type: "get",
                  url: "http://yuntuapi.amap.com/datasearch/local?tableid="+tableid+"&city="+city+"&keywords="+keywords+"&key="+key+"&sortrule="+sortrule,
                  dataType: "jsonp",
                  jsonp: "callback",
                  success: function(json){
                    self.suggest = json.datas
                    console.log(json.datas);
                  },
                  error: function(){
                    console.log('fail');
                  }
              });
          },
          addsuggess:function(yuntu){
              $('#searchAddress').modal('hide');
              this.initData['addressKey']=yuntu._name;
          }
      }
    });
    function getQueryString(name) {
      var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
      var r = window.location.search.substr(1).match(reg);
      if (r != null) return unescape(r[2]); return null;
    }
</script>
</body>
</html>
