<%=include indexheader_index.html%>
<style>
    table{background:#fff}.table{margin-bottom:0}.formdiv{padding:15px;background:#fff}
</style>
<script>
    var addresslistJSON =<%-JSON.stringify(addresslist)%>;
    configWxJsapi();
</script>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <a href="/address?back=addresslist" class="btn btn-success navbar-btn btn-block btn-lg">添加新地址</a>
    </div>
</nav>
<div id="addresslist">
<div class="formdiv">
    <table class="table">
        <tr v-repeat="list in list" v-on="click:deldata(list)" v-cloak>
            <td>
                <h4>{{list.receiveuser}}
                    <small>{{list.phonenum}}</small>
                </h4>
                {{list.addressKey}} {{list.address}}
            </td>
            <td>
                <a href="#" data-toggle="modal" data-target="#delAddress"><h4><i
                        class="glyphicon glyphicon-trash"></i></h4></a>
            </td>
            <td>
                <a href="address/index/id/{{list.id}}?back=addresslist"><h4><i class="glyphicon glyphicon-pencil"></i></h4></a>
            </td>
        </tr>
    </table>
</div>
<div class="modal fade" id="delAddress" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h4 class="text-center">确定删除地址？</h4>
            </div>
            <div class="modal-footer">
                    <div class="col-xs-6">
                        <button type="button" class="btn btn-default btn-block btn-lg" data-dismiss="modal">放弃操作
                        </button>
                    </div>
                    <div class="col-xs-6">
                        <button type="button" class="btn btn-danger btn-block btn-lg" v-on="click:del(list.index)">确定删除</button>
                    </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    var addresslist = new Vue({
        el: '#addresslist',
        data: {list: addresslistJSON},
        methods:{
            deldata:function(data){
                this.delindex = data;
            },
            del:function(del){
                var self = this;
                $.ajax({
                    url:'/addresslist/del',
                    type:'POST',
                    data:{id:this.delindex.id},
                    success:function(data){
                        $('#delAddress').modal('hide');
                        showFormErr("地址删除成功");
                        $.cookie('addId', null);
                        $.cookie('address', null);
                        $.cookie('addressKey',null);
                        $.cookie('receiveuser',null);
                        $.cookie('phonenum',null);
                        addresslistJSON.$remove(self.delindex);
                    }
                });
            }
        }
    });
</script>
