<%=include indexheader_index.html%>
<div class="grid-warp">
    <div class="grid">
      <table class="col-12 addresslist">
        <tbody>
          <tr></tr>
        <tr>
          <td colspan="3">
            <p>王文博 15117909848</p>
            <p>中央美术学院 设计大楼地下一层</p>
          </td>
        </tr>
        <tr>
          <td><span><i class="iconfont">&#xe60e;</i></span> 设为默认</td>
          <td><i class="iconfont">&#xe60c;</i> 编辑</td>
          <td><i class="iconfont">&#xe610;</i> 删除</td>
        </tr>
      </tbody>

      <tbody>
        <tr></tr>
      <tr>
        <td colspan="3">
          <p>王文博 15117909848</p>
          <p>中央美术学院 设计大楼地下一层</p>
        </td>
      </tr>
      <tr>
        <td><span></span>设为默认</td>
        <td>编辑</td>
        <td>删除</td>
      </tr>
    </tbody>
      </table>
    </div>
  </div>
  <div class="grid-warp emptyOrder">
    <div class="grid">
      <div class="col-12">
        <i class="iconfont">&#xe612;</i> 您还没有地址:-(
        <a href="javascript:;">现在去订餐</a>
      </div>
    </div>
  </div>

  <div class="footerlogo"></div>

  <div class="footer">
    <a href="javascript:;" class="addNewAddress"><i class="iconfont">&#xe605;</i>添加新地址</a>
  </div>
<script>
    var addresslist = new Vue({
        el: '#addresslist',
        data: {list: addresslistJSON},
        methods:{
            deldata:function(data){
                this.delindex = data;
            },
            del:function(del){
                var self = this;
                $.ajax({
                    url:'/addresslist/del',
                    type:'POST',
                    data:{id:this.delindex.id},
                    success:function(data){
                        $('#delAddress').modal('hide');
                        showFormErr("地址删除成功");
                        $.cookie('addId', null);
                        $.cookie('address', null);
                        $.cookie('addressKey',null);
                        $.cookie('receiveuser',null);
                        $.cookie('phonenum',null);
                        addresslistJSON.$remove(self.delindex);
                    }
                });
            }
        }
    });
</script>
