<%=include indexheader_index.html%>
<script>
    var addresslistJson = <%- JSON.stringify(addresslist)%>;
    var calendarArr = <%-JSON.stringify(calendarArr)%>;
</script>
<style>
    .calendar>tbody>tr>th, .calendar>tbody>tr>td{
        background: #fff;
        text-align: center;
    }
    .calTitle{
        margin: 0;
    }
    .paybtn{
        display: block;
        height: 49px;
        width: 120px;
        background: #f40;
        float: right;
        line-height: 49px;
        color: #fff;
        padding: 0;
        border-radius: 0;
        font-size: 16px;
    }
    .paybtn:hover{
        color:#fff;
    }
    .countP{
        height: 49px;
        line-height: 49px;
        margin-bottom: 0;
        padding-left: 15px;
    }
    .countP span:nth-child(2){
        font-size: 18px;
        color: #f40;
    }
    .hidechoosefood{
      display: none;
    }
    table{
      background: #fff;
    }
    .table{
      margin-bottom: 10px;
    }
    .formErr{
      position: fixed;
      width: 200px;
      height: 60px;
      font-size: 16px;
      background: rgba(0,0,0,0.9);
      top: 50%;
      left: 50%;
      margin-left: -100px;
      margin-top: -30px;
      border-radius: 6px;
      z-index: 10000;
      color:#fff;
      text-align: center;
      line-height: 60px;
      display: none;
    }
</style>
<div id="indexPostOrder">
    <nav class="navbar navbar-default navbar-fixed-bottom ">
        <a href="javascript:;" class="btn paybtn" v-on="click:pay" data-loading-text="订单正在生成">确认订单</a>
        <p class="countP"><span>总价:</span><span> ￥{{total | formatPrice}}</span></p>
    </nav>
    <div class="jumbotron">
        <div class="row">
            <div class="col-xs-12">
                <img src="/resource/img/indexImg/logo.png" id="logo" class="pull-left">
                <img src="" id="face" class="pull-right img-circle">
            </div>
        </div>
        <table id="showP" class="table table-bordered calendar">
            <tr>
                <td colspan="7"><h3 class="calTitle"><%=date%>月 <small>一周早餐</small></h3></td>
            </tr>
            <tr>
                <th v-repeat="calendar">{{week}}</th>
            </tr>
            <tr>
                <td v-repeat="calendar" v-on="click:chooseDay(this)" class="{{choose}}"><h4>{{{days | repertoryIsEmpty}}}</h4></td>
            </tr>
        </table>
        <table class="table table-condensed">
            <tr v-repeat="calendar" class="{{chooseFoodList}}">
                <td><img src="/resource/img/food/{{productInfo.days}}.jpg" width="40"></td>
                <td><h5>{{productInfo.productName}}<small> ×{{everyDayNum}}</small></h5><span class="text-muted">{{date}}</span></td>
                <td class="text-danger">￥{{productInfo.price}}</td>
                <td><span class="label label-warning">周{{week}}</span></td>
            </tr>
        </table>
        <div class="alert alert-warning" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
            每天 <span class="label label-warning">22:00</span> 前可预订明日早餐 🌞
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-success" data-loading-text="Loading..." autocomplete="off" v-on="click:everyDayNumBtn('a')">
                            —
                        </button>
                    </div>
                    <span class="input-group-addon">每天</span>
                    <input type="text" class="form-control" aria-label="..." v-model="everyDayNum | numNotZreo">
                    <span class="input-group-addon">份</span>

                    <div class="input-group-btn">
                        <button type="button" class="btn btn-success" data-loading-text="Loading..." autocomplete="off" v-on="click:everyDayNumBtn('b')">
                            +
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <select class="form-control" v-model="expressTime">
                    <option value="0">配送时间段</option>
                    <option>7:00-7:30</option>
                    <option>7:30-8:00</option>
                    <option>8:00-8:30</option>
                    <option>8:30-9:00</option>
                    <option>9:00-9:30</option>
                    <option>9:30-10:00</option>
                </select>
            </div>
            <div class="col-xs-6">
                <select class="form-control" v-model="receiveWay">
                    <option value="0">接收方式</option>
                    <option>接收方式2</option>
                    <option>接收方式3</option>
                    <option>接收方式4</option>
                    <option>接收方式5</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-default btn-block btn-lg" data-toggle="modal" data-target="#chooseAddress" id="chooseAddressBtn"><i class="glyphicon glyphicon-plus-sign"></i> 选择配送地址
                </button>
            </div>
        </div>
    </div>
    <div class="modal fade" id="chooseAddress" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="glyphicon glyphicon-remove-circle"></i></button>
                <h4 class="modal-title">选择一个收货地址</h4>
              </div>
                <div class="modal-body address-body">
                    <table class="table">
                        <tr v-repeat="addresslist" data-index={{$index}}>
                            <td v-on="click:chooseAddress(this)">
                                <h4>{{receiveuser}}<small> {{phonenum}}</small></h4>
                                {{address}}
                            </td>
                            <td v-on="click:editAddress(this)">
                                <a href="#" data-toggle="modal" data-target="#addressForm"><h4><i class="glyphicon glyphicon-pencil" ></i></h4></a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success btn-block btn-lg" data-toggle="modal"
                            data-target="#addressForm" v-on="click:addNewAddress">添加新的订餐地址
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addressForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="glyphicon glyphicon-remove-circle"></i></button>
                <h4 class="modal-title">添加新的地址</h4>
              </div>
                <div class="modal-body addAddress-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">联系人</label>
                            <input type="email" name="addAddressForm" class="form-control input-lg" id="exampleInputEmail1"
                                   placeholder="你的姓名" v-model="updateForm.receiveuser">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">联系电话</label>
                            <input type="tel" name="addAddressForm" class="form-control input-lg" id="exampleInputPassword1"
                                   placeholder="你的手机号" v-model="updateForm.phonenum">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">送餐地址</label>
                            <input type="address" name="addAddressForm" class="form-control input-lg" id="exampleInputPassword1"
                                   placeholder="小区/写字楼/学校等" data-toggle="modal" data-target="#searchAddress" v-model="updateForm.addressKey" readonly>
                        </div>
                        <input type="address" name="addAddressForm" class="form-control input-lg" id="exampleInputPassword1"
                               placeholder="详细地址（如门牌号等）" v-model="updateForm.address">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success btn-block btn-lg" v-ok="addresslist : updateForm" v-on="click:update(this)">确定</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="searchAddress" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <input type="text" class="form-control input-lg" id="exampleInputAmount" placeholder="小区/写字楼/学校等" v-on="keyup:getsuggest" v-model="suggestText">
                </div>
                <div class="modal-body searchAddress-body">
                    <table class="table">
                        <tr v-repeat="su:suggess">
                            <td v-on="click:addsuggess(this)">
                                <h4>{{su._name}}
                                    <small>{{su._address}}</small>
                                </h4>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="glyphicon glyphicon-remove-circle"></i></button>
                  <span class="pull-left ">输入地区关键字</span>
                </div>
            </div>
        </div>
    </div>
    <div class="formErr">
      错误
    </div>
    <a href="/addresslist">地址</a>
    <a href="/orderlist">订单列表</a>
    <!-- {{$data | json 2}} -->
</div>

<script>
Array.prototype.remove = function(dx){
    if(isNaN(dx)||dx>this.length){return false;}
    this.splice(dx,1);
}
    var sendOrder = new Vue({
        el:'#indexPostOrder',
        data:{
            expressTime:0,
            receiveWay:0,
            everyDayNum:1,
            addresslist:addresslistJson,
            calendar:calendarArr,
            suggestText:'',
            total:0,
            totalcopy:0,
            updateForm:{
                userid:'<%- userid%>',
                receiveuser:'',
                address:'',
                addressKey:'',
                phonenum:'',
                aindex:''
            },
            suggess:[],
            chooseaddressinfo:null
        },
        filters:{
          formatPrice:function(value){
            return value.toFixed(2);
          },
          repertoryIsEmpty:function(value){
            if(value == "罄"){
              return "<i class='glyphicon glyphicon-ban-circle text-danger'></i>"
            }else {
              return value;
            }
          },
          numNotZreo:function(value){
            if(value<=0){
              return 1;
            } else {
              return value;
            }
          }
        },
        methods:{
            editAddress:function(p){
              var _this = this;
              $.ajax({
                  url:'Home/Index/select',
                  type:'POST',
                  data:{id:p.id},
                  success:function(data){
                      _this.$data.updateForm = JSON.parse(data)[0];
                      _this.$data.updateForm.aindex = p.$index;
                  }
              });
            },
            addNewAddress:function(){
              this.$data.updateForm = {
                userid:'<%- userid%>',
                receiveuser:'',
                address:'',
                addressKey:'',
                phonenum:'',
              }
            },
            everyDayNumBtn:function(action){
                if(action=='a'){
                  if(this.$data.everyDayNum<=1) {
                    this.$data.everyDayNum=1;
                    return false;
                  }else {
                    this.$data.everyDayNum--;
                    this.$data.total = total(this)*this.$data.everyDayNum;
                  }
                }else {
                  this.$data.everyDayNum++;
                  this.$data.total = total(this)*this.$data.everyDayNum;
                }
            },
            update:function(p){
                var updateInfo = this.$data.updateForm;
                var re = /^1\d{10}$/;
                for(var k in updateInfo){
                  if(updateInfo[k]==""){
                    switch (k) {
                      case 'receiveuser':
                        showFormErr('请填写收货人姓名');
                        break;
                        case 'phonenum':
                        showFormErr('请填写联系电话');
                        break;
                        case 'address':
                        showFormErr('请填写收货人地址');
                        break;
                        case 'addressKey':
                        showFormErr('请填写收货人详细地址');
                        break;
                    }
                    return false;
                  }
                  if(!re.test(updateInfo['phonenum'])){
                    showFormErr('手机号码格式不正确');
                    return false;
                  }
                }
                var _this = this;
                $.ajax({
                    url:'Home/Index/update',
                    type:'POST',
                    data:{info:JSON.stringify(updateInfo)},
                    success:function(data){
                      if(data=='update'){
                        addresslistJson[updateInfo.aindex]['receiveuser'] = updateInfo.receiveuser;
                        addresslistJson[updateInfo.aindex]['phonenum'] = updateInfo.phonenum;
                        addresslistJson[updateInfo.aindex]['address'] = updateInfo.address;
                        addresslistJson[updateInfo.aindex]['addressKey'] = updateInfo.addressKey;
                        $('#addressForm').modal('hide');
                      }else if (data=='add') {
                        addresslistJson.unshift(updateInfo);
                        $('#addressForm').modal('hide');
                      }

                    }
                })
            },
            chooseAddress:function(p){
              this.$data.chooseaddressinfo=addresslistJson[p.$index];
              $('#chooseAddress').modal('hide');
              $('#chooseAddressBtn').html("<i class='glyphicon glyphicon-map-marker'></i> "+p.address).attr('class','btn btn-success btn-block btn-lg');
            },
            getsuggest:function(){
                var tableid = '5588fe0be4b062df8bcd62da';
                var city = '北京市';
                var keywords = this.$data.suggestText;
                var filter = ' ';
                var limit = 10;
                var page = 1;
                var key = '4af78342937c8140440f75c9809063c5';
                var that = this;

                $.ajax({
                    type: "get",
                    url: "http://yuntuapi.amap.com/datasearch/local?tableid="+tableid+"&city="+city+"&keywords="+keywords+"&key="+key,
                    dataType: "jsonp",
                    jsonp: "callback",
                    jsonpCallback:"jsonpCallback",
                    success: function(json){
                        var arr=[];
                        arr.push(json);
                        that.$data.suggess = arr[0].datas;
                    },
                    error: function(){
                        console.log('fail');
                    }
                });
            },
            addsuggess:function(suggess){
                $('#searchAddress').modal('hide');
                this.$data.updateForm['addressKey']=suggess.su._name;
                this.$data.updateForm['address']=suggess.su._address;
            },
            chooseDay:function(p){
              if(p.productInfo.repertory<=0){
                return false;
              }else {
                if(p.done){
                    p.choose='success';
                    p.chooseFoodList = '';
                    this.$data.total=total(this)*this.$data.everyDayNum;
                }else{
                    p.choose='';
                    p.chooseFoodList = 'hidechoosefood';
                    this.$data.total=total(this)*this.$data.everyDayNum;
                }
                p.done = !p.done;
              }

            },
            pay:function(){
              var paybtn = $('.paybtn').button('loading');
              var chooseProductJson_res = [];
              var chooseProductJson = this.$data.calendar;
              for(var k in chooseProductJson){
                switch (chooseProductJson[k]['choose']) {
                  case 'success':
                  chooseProductJson_res.push({
                    productName:chooseProductJson[k].productInfo['productName'],
                    time:chooseProductJson[k]['date'],
                    singleprice:chooseProductJson[k].productInfo['price']
                  });
                    break;
                }
              }
              if(chooseProductJson_res.length==0){
                showFormErr('没有选择早餐 ☀️');
                paybtn.button('reset');
                return false;
              }
              if(this.$data.receiveWay==0){
                showFormErr('请选择接收方式 📮');
                paybtn.button('reset');
                return false;
              }
              if(this.$data.expressTime==0){
                showFormErr('还没有选择配送时间 🕗');
                paybtn.button('reset');
                return false;
              }
              if(this.$data.chooseaddressinfo==null){
                showFormErr('请选择配送地址 🌈');
                paybtn.button('reset');
                return false;
              }
              if(this.$data.everyDayNum<1){
                showFormErr('每天至少一份早餐 🍔');
                paybtn.button('reset');
                return false;
              }
              $.ajax({
                url:'Home/Index/pay',
                type:'POST',
                data:{
                  userid:'<%- userid%>',
                  productnum:this.$data.everyDayNum,
                  receiveWay:this.$data.receiveWay,
                  chooselist:JSON.stringify(chooseProductJson_res),
                  addressinfo:JSON.stringify(this.$data.chooseaddressinfo),
                  expresstime:this.$data.expressTime
                },
                success:function(data){
                  if (data=='ok') {
                    paybtn.button('reset');
                  }
                }
              });
            }
        }
    });
    function showFormErr(value){
      $('.formErr').css({'display':'block'}).html('<i class="glyphicon glyphicon-exclamation-sign"></i> '+value);
      setTimeout(function(){
        $('.formErr').css({'display':'none'}).html('');
      },1200);
    };
    function total(_this){
      _this.$data.total=0;
      var chooseProductJson = _this.$data.calendar;
      for(var k in chooseProductJson){
        switch (chooseProductJson[k]['choose']) {
          case 'success':
          _this.$data.total+=chooseProductJson[k]['productInfo']['price'];
            break;
        }
      }
      return _this.$data.total;
    }
</script>
</body>
</html>
