<%=include indexheader_index.html%>
<script>
    var addresslistJson = <%- JSON.stringify(addresslist)%>;
    var calendarArr = <%-JSON.stringify(calendarArr)%>;
</script>
<style>
    .cal {
        width: 100%;
        height: 36px;
        list-style: none;
        padding: 0;
    }

    .cal li {
        float: left;
        width: 14.2857%;
        font-size: 18px;
    }

    .cal li span, .dateUl li span {
        text-align: center;
        display: block;
        width: 36px;
        height: 36px;
        line-height: 36px;
        margin: 0 auto;
    }

    .dateUl li span {
        border-radius: 50px;
        transition: background 0.6s;
    }
    .calendar>tbody>tr>th, .calendar>tbody>tr>td{
        background: #fff;
        text-align: center;
    }
    .calTitle{
        margin: 0;
    }
    .paybtn{
        display: block;
        height: 49px;
        width: 120px;
        background: #f40;
        float: right;
        line-height: 49px;
        color: #fff;
        padding: 0;
        border-radius: 0;
        font-size: 16px;
    }
    .paybtn:hover{
        color:#fff;
    }
    .countP{
        height: 49px;
        line-height: 49px;
        margin-bottom: 0;
        padding-left: 15px;
    }
    .countP span:nth-child(2){
        font-size: 18px;
        color: #f40;
    }
</style>
<div id="indexPostOrder">
    <nav class="navbar navbar-default navbar-fixed-bottom ">
        <a href="javascript:;" class="btn paybtn">确认订单</a>
        <p class="countP"><span>总价:</span><span> ￥0.00</span></p>
        <!--<div class="container-fluid">-->
            <!--<button type="submit" class="btn btn-success navbar-btn btn-block btn-lg">确认订单</button>-->
        <!--</div>-->
    </nav>
    <div class="jumbotron">
        <div class="row">
            <div class="col-xs-12">
                <img src="/resource/img/indexImg/logo.png" id="logo" class="pull-left">
                <img src="/resource/img/adminImg/wangwenbo.jpg" id="face" class="pull-right img-circle">
            </div>
        </div>
        <table class="table table-bordered calendar">
            <tr>
                <td colspan="7"><h3 class="calTitle"><%=date%>月 <small>一周早餐</small></h3></td>
            </tr>
            <tr>
                <th v-repeat="calendar">{{week}}</th>
            </tr>
            <tr>
                <td v-repeat="calendar" v-on="click:chooseDay(this)" class="{{choose}}"><h4>{{days}}</h4></td>
            </tr>
        </table>
        <div class="alert alert-warning" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
            每天 <span class="label label-warning">22:00</span> 前可预订明日早餐 ☀️
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-success" data-loading-text="Loading..." autocomplete="off" v-on="click:everyDayNumBtn('a')">
                            —
                        </button>
                    </div>
                    <span class="input-group-addon">每天</span>
                    <input type="text" class="form-control" aria-label="..." v-model="everyDayNum">
                    <span class="input-group-addon">份</span>

                    <div class="input-group-btn">
                        <button type="button" class="btn btn-success" data-loading-text="Loading..." autocomplete="off" v-on="click:everyDayNumBtn('b')">
                            +
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <select class="form-control" v-model="expressTime">
                    <option value="0">配送时间段</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="col-xs-6">
                <select class="form-control" v-model="receiveWay">
                    <option value="0">接收方式</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-default btn-block btn-lg" data-toggle="modal" data-target="#chooseAddress" id="chooseAddressBtn"><i class="glyphicon glyphicon-plus-sign"></i> 选择配送地址
                </button>
            </div>
        </div>
    </div>
    <div class="modal fade" id="chooseAddress" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="submit" class="btn btn-success btn-block btn-lg" data-toggle="modal"
                            data-target="#addressForm">添加新的订餐地址
                    </button>
                </div>
                <div class="modal-body address-body">
                    <table class="table">
                        <tr v-repeat="addresslist">
                            <td v-on="click:chooseAddress(this)">
                                <h4>{{receiveuser}}<small>{{phonenum}}</small></h4>
                                {{address}}
                            </td>
                            <td>
                                <a href="#" data-toggle="modal" data-target="#addressForm" data-id="{{id}}"><h4><i
                                        class="glyphicon glyphicon-pencil"></i></h4></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addressForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body addAddress-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">联系人</label>
                            <input type="email" class="form-control input-lg" id="exampleInputEmail1"
                                   placeholder="你的姓名" v-model="updateForm.receiveuser">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">联系电话</label>
                            <input type="tel" class="form-control input-lg" id="exampleInputPassword1"
                                   placeholder="你的手机号" v-model="updateForm.phonenum">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">送餐地址</label>
                            <input type="address" class="form-control input-lg" id="exampleInputPassword1"
                                   placeholder="小区/写字楼/学校等" data-toggle="modal" data-target="#searchAddress" v-model="updateForm.addressKey" readonly>
                        </div>
                        <input type="address" class="form-control input-lg" id="exampleInputPassword1"
                               placeholder="详细地址（如门牌号等）" v-model="updateForm.address">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success btn-block btn-lg" v-on="click:update">确定</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="searchAddress" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <input type="text" class="form-control input-lg" id="exampleInputAmount" placeholder="小区/写字楼/学校等" v-on="keyup:getsuggest" v-model="suggestText">
                </div>
                <div class="modal-body searchAddress-body">
                    <table class="table">
                        <tr v-repeat="su:suggess">
                            <td v-on="click:addsuggess(this)">
                                <h4>{{su._name}}
                                    <small>{{su._address}}</small>
                                </h4>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--<a href="/addresslist">地址</a>-->
    <!--<a href="/orderlist">订单列表</a>-->
    <!--<a href="">地址</a>-->
    <!--<a href="">地址</a>-->
    {{$data | json 2}}
</div>

<script>
    var sendOrder = new Vue({
        el:'#indexPostOrder',
        data:{
            expressTime:0,
            receiveWay:0,
            everyDayNum:1,
            addresslist:addresslistJson,
            calendar:calendarArr,
            suggestText:'',
            updateForm:{
                userid:'<%- userid%>',
                receiveuser:'',
                address:'',
                addressKey:'',
                phonenum:''
            },
            suggess:[],
            chooseaddressId:''
        },
        methods:{
            getdata:function(e){
                console.log(e.target.innerHTML);
            },
            everyDayNumBtn:function(action){
                action=='a'?this.$data.everyDayNum--:this.$data.everyDayNum++;
                if(this.$data.everyDayNum<1) this.$data.everyDayNum=1;
            },
            update:function(){
                var updateInfo = JSON.stringify(this.$data.updateForm);
                $.ajax({
                    url:'Home/Index/update',
                    type:'POST',
                    data:{info:updateInfo},
                    success:function(data){
                        $('#addressForm').modal('hide');
                    }
                })
            },
            chooseAddress:function(p){
                this.$data.chooseaddressId = p.id;
                $('#chooseAddress').modal('hide');
                console.log(p.address);
                $('#chooseAddressBtn').html("<i class='glyphicon glyphicon-map-marker'></i> "+p.address).attr('class','btn btn-success btn-block btn-lg');
            },
            getsuggest:function(){
                var tableid = '5588fe0be4b062df8bcd62da';
                var city = '北京市';
                var keywords = this.$data.suggestText;
                var filter = ' ';
                var limit = 10;
                var page = 1;
                var key = '4af78342937c8140440f75c9809063c5';
                var that = this;

                $.ajax({
                    type: "get",
                    url: "http://yuntuapi.amap.com/datasearch/local?tableid="+tableid+"&city="+city+"&keywords="+keywords+"&key="+key,
                    dataType: "jsonp",
                    jsonp: "callback",
                    jsonpCallback:"jsonpCallback",
                    success: function(json){
                        var arr=[];
                        arr.push(json);
                        that.$data.suggess = arr[0].datas;
                    },
                    error: function(){
                        console.log('fail');
                    }
                });
            },
            addsuggess:function(suggess){
                $('#searchAddress').modal('hide');
                this.$data.updateForm['addressKey']=suggess.su._name;
                this.$data.updateForm['address']=suggess.su._address;
                console.log(suggess.su);
            },
            chooseDay:function(p){
                if(p.done){
                    p.choose='success';
                }else{
                    p.choose='';
                }
                p.done = !p.done;

            }
        }
    });

    $('#addressForm').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        if(button.data('id')!=undefined){
            $.ajax({
                url:'Home/Index/select',
                type:'POST',
                data:{id:button.data('id')},
                success:function(data){
                    sendOrder.$data.updateForm = JSON.parse(data)[0];
                }
            });
        }else{
            sendOrder.$data.updateForm = {
                userid:'<%- userid%>',
                receiveuser:'',
                address:'',
                addressKey:'',
                phonenum:''
            }
        }
    });
</script>
</body>
</html>
