<%=include indexheader_index.html%>
<script>
    var orderlistJSON = <%- JSON.stringify(orderlist)%>;
</script>
<style>
    table{background:#fff}p{margin:0}.nav-pills{border:none}.nav-pills>li{width:33.3333%;font-size:1pc}.nav-pills>li>a{margin-right:0;padding:14px 15px;border-radius:0;text-align:center}.nav-pills>li+li{margin-left:0}.nav-pills>li.active>a,.nav-pills>li.active>a:focus,.nav-pills>li.active>a:hover{border:none;background-color:#449d44;color:#fff}.list-group-item.active>.badge,.nav-pills>.active>a>.badge{color:#449d44}.badge{background:#f60}
</style>
<br>
<div id="Order" v-cloak>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="progressOrder">
            <% if(orderlist.progressCount==""){ %>
            <div class="panel panel-default">
                <div class="panel-body">
                    <p class="text-center">没有处理中的订单：-）</p>
                    <br>
                    <a href="/" class="btn btn-success btn-block btn-lg">现在就去预定早餐</a>
                </div>
            </div>
            <%}%>
            <table class="table" v-repeat='progress'>
                <tbody>
                <tr>
                    <td colspan="2">订单号：{{orderid}}</td>
                    <td class="text-danger">{{pricetotal | currency '¥'}}</td>
                </tr>
                <tr>
                    <td colspan="2" class="text-muted">下单时间：{{ordertime}}</td>
                    <td>
                        <a href="/orderlistinfo/index/id/{{id}}" class="btn btn-default btn-block btn-sm"><i class="glyphicon glyphicon-list-alt"></i> 查看</a>
                    </td>
                </tr>
                <tr>

                </tr>
                </tbody>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="cancelOrder">
            <% if(orderlist.cancelCount==""){ %>
            <div class="panel panel-default">
                <div class="panel-body">
                    <p class="text-center">没有处理中的订单：-）</p>
                    <br>
                    <a href="/" class="btn btn-success btn-block btn-lg">现在就去预定早餐</a>
                </div>
            </div>
            <%}%>
            <table class="table" v-repeat='cancel'>
                <tbody>
                <tr>
                    <td colspan="2">订单号：<kbd>{{orderid}}</kbd></td>
                    <td class="text-danger">￥{{pricetotal | currency '¥'}}</td>
                </tr>
                <tr>
                    <td colspan="2" class="text-muted">下单时间：{{ordertime}}</td>
                    <td>
                        <a href="/orderlistinfo/index/id/{{id}}" class="btn btn-default btn-block btn-sm"><i class="glyphicon glyphicon-list-alt"></i> 查看</a>
                    </td>
                </tr>
                <tr>

                </tr>
                </tbody>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="completeOrder" >
            <% if(orderlist.completeCount==""){ %>
            <div class="panel panel-default">
                <div class="panel-body">
                    <p class="text-center">没有处理中的订单：-）</p>
                    <br>
                    <a href="/" class="btn btn-success btn-block btn-lg">现在就去预定早餐</a>
                </div>
            </div>
            <%}%>
            <table class="table" v-repeat='complete'>
                <tbody>
                <tr>
                    <td colspan="2">订单号：<kbd>{{orderid}}</kbd></td>
                    <td class="text-danger">￥{{pricetotal | currency '¥'}}</td>
                </tr>
                <tr>
                    <td colspan="2" class="text-muted">下单时间：{{ordertime}}</td>
                    <td>
                        <a href="/orderlistinfo/index/id/{{id}}" class="btn btn-default btn-block btn-sm"><i class="glyphicon glyphicon-list-alt"></i> 查看</a>
                    </td>
                </tr>
                <tr>

                </tr>
                </tbody>
            </table>
        </div>
    </div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <ul class="nav nav-pills" role="tablist">
        <li role="presentation" class="active"><a href="#progressOrder" role="tab" data-toggle="tab">进行中 <span class="badge">{{pc}}</span></a></li>
        <li role="presentation"><a href="#completeOrder" aria-controls="messages" role="tab" data-toggle="tab">已完成</a></li>
        <li role="presentation"><a href="#cancelOrder" role="tab" data-toggle="tab">失效单</a></li>
    </ul>
</nav>
</div>
<script>
    var addresslist = new Vue({
        el:'#Order',
        data:{
            progress:orderlistJSON.progress,
            cancel:orderlistJSON.cancel,
            complete:orderlistJSON.complete,
            pc:orderlistJSON.progressCount,
            cc:orderlistJSON.cancelCount,
            tc:orderlistJSON.completeCount
        }
    });
</script>
</body>
</html>
