<%=include indexheader_index.html%>
<style>
  body{padding-top: 20px;}
</style>
<div class="container">
  <div class="page-header">
    <h2 class="text-center">订单失败!</h2>
  </div>
  <a href="/Home/orderlist" class="btn btn-success btn-block btn-lg">处理未完成订单</a>
</div>
<script>
configWxJsapi();

function configWxJsapi() {
  var url = window.location.href;
  $.ajax({
    url: 'Admin/Wx/jsapicofig',
    type: 'POST',
    data: {
      url: url
    },
    success: function(json) {
      var configJson = JSON.parse(json);
      wx.config(configJson);

      wx.ready(function() {
        wx.hideOptionMenu();
      });
      wx.error(function(res) {
        console.log('微信jssdk接入失败');
      });
    }
  });
}
</script>
