<%=include indexheader_index.html%>
<div class="grid-warp fail">
  <div class="grid">
    <div class="col-12">
      <img src="/resource/img/indexImg/fail.jpg">
      <a href="javascript:;">查看订单</a>
      <a href="javascript:;">返回首页</a>
    </div>
  </div>
</div>
<div class="footerlogo"></div>
</body>
</html>
<script>
configWxJsapi();

function configWxJsapi() {
  var url = window.location.href;
  $.ajax({
    url: 'Admin/Wx/jsapicofig',
    type: 'POST',
    data: {
      url: url
    },
    success: function(json) {
      var configJson = JSON.parse(json);
      wx.config(configJson);

      wx.ready(function() {
        wx.hideOptionMenu();
      });
      wx.error(function(res) {
        console.log('微信jssdk接入失败');
      });
    }
  });
}
</script>
