.footer{
  .addNewAddress{
    width: 100%;
  }
}
.addresslist{
  tbody>tr:first-child{
    height: 0.2rem;
  }
  tbody>tr:nth-child(2)>td{
    background: $white url(../img/indexImg/addresscolor.jpg) repeat-x;
    position: relative;
  }
  tbody:first-child>tr:nth-child(2)>td:before{
    content: "-@";
    color: $white;
    display: block;
    position: absolute;
    font-size: $px20;
    padding: 0 0.2rem;
    top: 0.2rem;
    right: 0.2rem;
    border-radius: 50px;
    background-color: $yellow;
  }
  tbody>tr:nth-child(2)>td>p:last-child{
    font-size: $px22;
    color: $gray89;
    line-height: $px38;
  }
  tbody>tr:nth-child(3){
    font-size: $px22;
    color: $gray89;
    text-align: center;
    td:first-child{
      width: 4rem;
      text-align: left;
    }
  }
}
.deladdress{
  a{
    width: 50%;
    float: left;
  }
  a:first-child{
    background-color: $buttonBlue;
  }
}
