.orderlist{
  font-size: $px22;
  tbody>tr:first-child{
    height: 0.2rem;
  }
  .payOk1, .payOk0{
    line-height: $px30;
  }
  .payOk1{
    color: #2f9833;
  }
  .payOk0{
    color: $graybf;
  }
  .goOrderInfo{
    display: block;
    width: 100%;
    padding: $px24 0;
  }
  tbody>tr:nth-child(2)>td:first-child, tbody>tr:last-child>td:first-child{

  }
  .stateText{
    display: block;
    float: right;
    width: 1.6rem;
    height: 0.6rem;
    margin: -20px 0;
    text-align: center;
    line-height: 0.6rem;
    color: $white;
  }
}
.footer{
  -webkit-box-shadow:  0 0 10px $gray89;
  -moz-box-shadow:  0 0 10px $gray89;
  box-shadow:  0 0 10px $gray89;
  .goingOn{
    background-color: $buttonBlue;

  }
  .state{
    display: block;
    float: right;
    width: 1.595rem;
    height: 100%;
    border-left: 1px solid $border;
    text-align: center;
    line-height: 1.5rem;
  }
  .active{
    background: $yellow;
    color: $white;
  }
  .state:active{
    box-shadow:0 0 1rem #76c8d7 inset;
  }
}
