.orderlist{
  font-size: $px22;
  text-align: center;
  tbody>tr:first-child{
    height: 0.2rem;
  }
  .payOk1, .payOk0{
    line-height: $px30;
  }
  .payOk1{
    color: #2f9833;
  }
  .payOk0{
    color: $graybf;
  }
  .goOrderInfo{
    display: block;
    width: 100%;
    padding: $px24 0;
  }
  tbody>tr:nth-child(2)>td:first-child, tbody>tr:last-child>td:first-child{
    width: 5.2rem;
    text-align: left;
    line-height: 0.6rem;
    p:first-child{
      font-family: 'Menlo';
    }
  }
}
.footer{
  .goingOn{
    background-color: $buttonBlue;
  }
  .goingOn,.goOrder{
    width: 3.1999rem;
  }
  .goingOn:active{
    box-shadow:0 0 1rem #76c8d7 inset;
  }
}
