@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
@-webkit-keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}
@-webkit-keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
.modalBGAni-enter {
  -webkit-animation: fadeIn .2s;
  animation: fadeIn .2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.modalBGAni-leave {
  -webkit-animation: fadeOut 1s;
  animation: fadeOut 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.modalAni-enter {
  -webkit-animation: bounceInUp .6s;
  animation: bounceInUp .6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.modalAni-leave {
  -webkit-animation: slideOutUp .3s;
  animation: slideOutUp .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.showAlert-enter {
  -webkit-animation: shake .6s;
  animation: shake .6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.showAlert-leave {
  -webkit-animation: fadeOut .3s;
  animation: fadeOut .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes myfirst
{
0%   {background: #ffc600;}
100% {background: #ff6700;}
}

@-moz-keyframes myfirst /* Firefox */
{
  0%   {background: #ffc600;}
  100% {background: #ff6700;}
}

@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
  0%   {background: #ffc600;}
  100% {background: #ff6700;}
}
.submit[disabled], .addressBtn[disabled]{
  color: #fff;
  animation: myfirst 2s infinite alternate ease-out;
  -moz-animation: myfirst 2s infinite alternate ease-out;	/* Firefox */
  -webkit-animation: myfirst 2s infinite alternate ease-out;	/* Safari 和 Chrome */
  -o-animation: myfirst 2s infinite alternate ease-out;	/* Opera */
}
