html,body{height: 100%;}

#slider-nav{width: 66px;height: 100%;background: #aaaaaa;margin: 0;position: fixed;padding: 0;list-style: none;float: left;}
header{width: 100%;background: #2b2b2b;padding: 10px 0;color:#fff;}
header h1{margin: 0;float: left;}
header span{display: block;float: right;}
header img{float: right;}
header:after{content: '';clear: both;display: block;}
.content{width: 100%;height: 100%;overflow: auto;position: fixed;margin-left: 66px;padding: 20px;}
.content table{width: 90%;}