<%=include adminheader_index.html%>
<h1 class="page-header"><span class="glyphicon glyphicon-gift" aria-hidden="true"></span> 订单管理 <small>Order Manage</small></h1>

<h3 class="sub-header">订单列表</h3>
<div class="row">
    <div class="col-lg-12">
        <div class="input-group input-group-lg">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">筛选条件 <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">手机号</a></li>
                    <li><a href="#">用户名</a></li>
                    <li><a href="#">订单号</a></li>
                </ul>
            </div><!-- /btn-group -->
            <input type="text" class="form-control" aria-label="...">
            <div class="input-group-btn">
                <button type="button" class="btn btn-primary" >订单筛选</button>
            </div><!-- /btn-group -->
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<div class="row">
    <div class="col-lg-6">
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default">已发送订单</button>
            <button type="button" class="btn btn-default">取消订单</button>
            <button type="button" class="btn btn-default">待发货</button>
            <button type="button" class="btn btn-default">待发货</button>
            <button type="button" class="btn btn-default">待发货</button>
            <button type="button" class="btn btn-default">待发货</button>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default">已发送订单</button>
            <button type="button" class="btn btn-default">取消订单</button>
            <button type="button" class="btn btn-default">待发货</button>
            <button type="button" class="btn btn-default">待发货</button>
            <button type="button" class="btn btn-default">待发货</button>
            <button type="button" class="btn btn-default">待发货</button>
        </div>
    </div>
</div>
<nav><ul class="pagination pagination-lg">
    <%-pager%>
    <li><span>共<%=count%>笔数据</span></li>
</ul>
</nav>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>id</th>
            <th>产品图片</th>
            <th>产品名称</th>
            <th>购买数量</th>
            <th>购买者</th>
            <th>配送地址</th>
            <th>单价</th>
            <th>配送费</th>
            <th>是否叫起</th>
            <th>配送时间</th>
            <th>联系电话</th>
            <th>订单号</th>
            <th>下单时间</th>
            <th>操作</th>
            <th>订单状态</th>
        </tr>
        </thead>
        <tbody>
        <tr id="orderlist" v-repeat="order:order" class="item-{{$index}}">
            <td>{{order.id}}</td>
            <td><img src="/resource/img/food/{{order.foodimg}}" width="40"></td>
            <td>{{order.productname}}</td>
            <td>×{{order.productnum}}</td>
            <td>{{order.receiveuser}}</td>
            <td>{{order.expressaddress}}</td>
            <td><h4>￥{{order.singleprice}}</h4></td>
            <td><h4>{{order.expressprice}}</h4></td>
            <td>{{order.iscallmeup}}</td>
            <td>{{order.expresstime}}</td>
            <td><h5>{{order.phonenum}}</h5></td>
            <td><h5>{{order.ordernum}}</h5></td>
            <td>{{order.time}}</td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                        订单操作 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"> 取消订单</a></li>
                        <li><a href="#"> 退款</a></li>
                    </ul>
                </div>
            </td>
            <td><span class="label label-success">{{order.productstatic}}</span></td>
        </tr>
        </tbody>
    </table>
    <nav><ul class="pagination pagination-lg">
        <%-pager%>
        <li><span>共<%=count%>笔数据</span></li>
    </ul>
    </nav>
</div>


<script>
    var orderList = new Vue({
        el:'#orderlist',
        data:{order:<%- JSON.stringify(orderList) %>}
    });
</script>
<%=include adminfooter_index.html%>