<%=include adminheader_index.html%>
<h1 class="page-header"><span class="glyphicon glyphicon-gift" aria-hidden="true"></span> 订单管理 <small>Order Manage</small></h1>

<div class="row staticcount page-header">
    <div class="col-lg-3 ">
        <h3>订单列表</h3>
    </div>
    <div class="col-lg-9">
        <h4 class="text-right">
            共<%=count%>单 |
            已发货3单 |
            已成功<%=succ%>单 |
            待付款3单 |
            待发货3单 |
            待退款0单 |
            已退款0单 |
            已取消0单 |
            异常0单
        </h4>
    </div>
</div>

<form id="formfliter">
<div class="row">
    <div class="col-lg-1">
        <select class="form-control" v-model="searchC">
            <option value="*">all</option>
            <option value="id">id</option>
            <option value="phonenum">手机号</option>
            <option value="receiveuser">用户名</option>
            <option value="ordernum">订单号</option>
        </select>
    </div>
    <div class="col-lg-11">
        <div class="input-group">
            <input type="text" class="form-control" aria-label="..." v-model="searchV">
            <div class="input-group-btn">
                <button type="button" class="btn btn-primary fliterBtn" data-loading-text="Loading..." autocomplete="off" >订单筛选</button>
            </div><!-- /btn-group -->
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<div class="row orderfliter">
    <div class="col-lg-3">
        <select class="form-control" v-model="productstatic">
            <option value="*">all</option>
            <option value="30">已发送订单</option>
            <option value="40">待收货订单</option>
            <option value="55">已完成订单</option>
            <option value="30">已取消订单</option>
        </select>
    </div>
    <div class="col-lg-3">
        <select class="form-control" v-model="expresstime">
            <option value="*">all</option>
            <option>7:00-7:30</option>
            <option>7:30-8:00</option>
            <option>8:00-8:30</option>
            <option>8:30-9:00</option>
            <option>9:00-9:30</option>
            <option>9:30-10:00</option>
        </select>

    </div>
    <div class="col-lg-2">
            <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="flitertime" data-link-format="yyyy-mm-dd">
                <input class="form-control" size="16" type="text" value="" readonly>
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
            <input type="hidden" id="flitertime" value="" /><br/>
    </div>
    <div class="col-lg-2">
        <div class="input-group">
            <span class="input-group-addon">叫起</span>
                <select class="form-control" v-model="iscallmeup">
                    <option value="*">全部</option>
                    <option value="1">是</option>
                    <option value="0">否</option>
                </select>
            </div>
    </div>
    <div class="col-lg-2">
        <button type="button" class="btn btn-primary btn-block">重置条件</button>
    </div>
</div>
    <input type="hidden" id="fliterjson" value="{{$data | json}}" />
</form>
<nav>
    <ul class="pagination">
    <%-pager%>
    <li><span>共<%=count%>笔数据</span></li>
</ul>
</nav>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>id</th>
            <th>图片</th>
            <th>产品名称</th>
            <th>数量</th>
            <th>购买者</th>
            <th>配送地址</th>
            <th>单价</th>
            <th>配送费</th>
            <th><span class="glyphicon glyphicon-bell" aria-hidden="true"></span></th>
            <th>配送时间</th>
            <th>联系电话</th>
            <th>订单号</th>
            <th>下单时间</th>
            <th>操作</th>
            <th>订单状态</th>
        </tr>
        </thead>
        <tbody>
        <tr id="orderlist" v-repeat="order:order" class="item-{{$index}}">
            <td><h5>{{order.id}}</h5></td>
            <td data-toggle="modal" data-target=".bs-example-modal-lg"><img src="/resource/img/food/{{order.foodimg}}" width="40" class="img-circle"></td>
            <td>{{order.productname}}</td>
            <td>×{{order.productnum}}</td>
            <td>
                {{order.receiveuser}}
            </td>
            <td>{{order.expressaddress}}</td>
            <td><h5>￥{{order.singleprice}}</h5></td>
            <td><h5>{{order.expressprice}}</h5></td>
            <td>{{order.iscallmeup}}</td>
            <td>{{order.expresstime}}</td>
            <td><h5>{{order.phonenum}}</h5></td>
            <td><h5>{{order.ordernum}}</h5></td>
            <td>{{order.time}}</td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                        订单操作 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"> 取消订单</a></li>
                        <li><a href="#"> 退款</a></li>
                    </ul>
                </div>
            </td>
            <td><span class="label label-success static{{order.productstaticnum}}">{{order.productstatic}}</span></td>
        </tr>
        </tbody>
    </table>
    <nav><ul class="pagination">
        <%-pager%>
        <li><span>共<%=count%>笔数据</span></li>
    </ul>
    </nav>
</div>
<div class="modal fade bs-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">订单详情 <small>谨慎操作，该操作会造成用户数据不符。请确定提前与用户进行过沟通</small></h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-hover">
                    <tbody>
                    <tr>
                        <td>hello</td>
                        <td>hello</td>
                        <td>hello</td>
                        <td>hello</td>
                        <td>hello</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">编辑订单 <span class="label label-warning">慎</span></button>
            </div>
        </div>
    </div>
</div>

<script>
    var showListJson = <%- JSON.stringify(orderList) %>;
    var orderList = new Vue({
        el:'#orderlist',
        data:{order:showListJson}
    });
    var formfliter = new Vue({
        el: '#formfliter',
        data: {
            searchC:'*',
            productstatic:'*',
            expresstime:'*',
            iscallmeup:'*'
        }
    });
    Vue.filter('mapstatic', function (value) {
        console.log(value);
        console.log('a');
        return value+'a';
    });
    $('.form_date').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
    $('.form_time').datetimepicker({
        language:  'fr',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 1,
        minView: 0,
        maxView: 1,
        forceParse: 0
    });
    $(document).ready(function(){
        var fliterJSON = {};

        $('button[class~=fliterBtn]').on('click',function(){
            var $btnstatic = $(this).button('loading');

            var getFliterJson = JSON.parse($('#fliterjson').attr('value'));
            if($('#flitertime').attr('value')!=''){
                getFliterJson.time = $('#flitertime').attr('value');
            }
            if(getFliterJson[getFliterJson.searchC] != '' || getFliterJson[getFliterJson.searchC] != '*'){
                getFliterJson[getFliterJson.searchC] = getFliterJson.searchV;
                delete getFliterJson.searchC;
                delete getFliterJson.searchV;
                delete getFliterJson['*'];
            }
            $.each(getFliterJson,function(index,item){
                if(item=='*') delete getFliterJson[index];
            });
            console.log(getFliterJson);
            Messenger().run({
                successMessage: '数据请求成功.',
                errorMessage: 'Error saving data',
                progressMessage: '正在处理数据',
            },{
                url: '/Admin/Order/fliter',
                type:'post',
                data:{'fliterjson':JSON.stringify(getFliterJson)},
                success:function(data){
                    orderList.$data.order = JSON.parse(data);
                    console.log(JSON.parse(data));
                    $btnstatic.button('reset');
                }
            });

        })

    })
</script>
<%=include adminfooter_index.html%>