
<%=include adminheader_index.html%>
<!--头部标题-->
<!--此处后期可做通用-->
<script>
    var dataJSONdays =<%- JSON.stringify(productList) %>;
    var dataJSONactive =<%- JSON.stringify(activelist) %>;
</script>
<h2 class="page-header">
    <span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span> 产品管理 <small>一周早餐管理</small>
</h2>
<ol class="breadcrumb">
    <li><a href="/Admin/">Admin</a></li>
    <li class="active"><a href="/Admin/<%=http.controller%>"><%=http.controller%></a></li>
</ol>
<!--二级标题 部分功能-->
<div class="page-header">
    <a class="btn btn-primary" id="addActiveProduct" data-toggle="tooltip" data-placement="bottom" title="添加这类商品在活动商品列表出现" >增加活动商品</a>
    <a class="btn btn-danger disabled">活动管理器［开发者模式］</a>
</div>
<div class="staticcount page-header clearfix">
    <div class="col-lg-3 ">
        <h3><i class="glyphicon glyphicon-calendar"></i> 默认一周早餐列表</h3>
    </div>
    <div class="col-lg-9">
        <h4 class="text-right">

        </h4>
    </div>
</div>
<!--产品列表-->
<div class="row productliststyle">
    <!--一个三列删格-->
    <div class="col-sm-3" id="productlist" v-repeat="product:products">
        <!-- 产品模版-->
        <div class="panel panel-default">
            <div class="panel-heading morningFoodDays"><h4>星期{{product.days}} <small>{{product.updatetime}}</small></h4></div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>id：{{product.id}}</th>
                    <th colspan="2">图片</th>
                    <th>成本</th>
                    <th>单价</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><img src="/resource/img/food/{{product.days}}.jpg" alt="..." width="66" ></td>
                    <td colspan="2">{{product.productName}}</td>
                    <td><h4>￥{{product.cost}}</h4></td>
                    <td><h3 class="text-danger">￥{{product.price}}</h3></td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2">
                        <h5>活动促销A</h5>
                    </td>
                    <td>
                        <a href="#" class="btn btn-success btn-block" data-toggle="modal" data-target=".bs-example-modal-sm" data-day="{{product.days}}" data-id="{{product.id}}" role="button">更新</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="panel-body">
                {{product.describe}}
            </div>
        </div>
    </div>
</div>
<!--模态-->
<div class="modal fade bs-example-modal-sm" id="productModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <!-- 大模态-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- 头部关闭-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">编辑当日早餐信息</h4>
            </div>
            <div class="modal-body">
                <!-- 选项卡-->
                <div role="tabpanel">
                    <ul class="nav nav-tabs" role="tablist" id="editTab">
                        <li role="presentation" class="active">
                            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">更新当前数据</a>
                        </li>
                        <li role="presentation">
                            <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
                                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>  添加活动早餐
                            </a>
                        </li>
                    </ul>
                    <br>
                    <!-- 选项卡面板 -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active clearfix" id="home">
                            <div class="col-sm-8 col-lg-8">
                                <form id="updateFoodInfo">
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">早餐名:</label>
                                        <input type="text" class="form-control" id="recipient-name" v-model="productName ">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">成本</label>
                                        <input type="text" class="form-control" id="recipient-name" v-model="cost">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">单价</label>
                                        <input type="text" class="form-control" id="recipient-name" v-model="price">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail2" class="control-label">活动</label>
                                        <select class="form-control" v-model="sex" id="exampleInputEmail2">
                                            <option value="*">性别</option>
                                            <option value="1">boy</option>
                                            <option value="0">girl</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="message-text" class="control-label">Message:</label>
                                        <textarea class="form-control" id="message-text" v-model="describe" rows="10"></textarea>
                                        <input type="hidden" name="updatejson" value="{{$data | json 4}}">
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-6 col-lg-4" id="dragUpload">
                                <a href="#" class="thumbnail" data-toggle="tooltip" data-placement="top" title="图片拖拽至此上传并覆盖原文件">
                                    <img src="/resource/img/adminimg/drag.jpg" alt="..." class="uploadimgag">
                                </a>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                        <span class="sr-only">45% Complete</span>
                                    </div>
                                </div>
                                <blockquote>
                                    <p>Image Size : 300×300</p>
                                    <footer>图片无需删除，从新拖拽上传即可覆盖当前图片</footer>
                                </blockquote>
                                <div class="form-group">
                                    <button type="button" class="btn btn-success btn-lg btn-block" name="uploadProductInfo">更新数据</button>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane clearfix" id="profile">
                            <div class="alert alert-warning" role="alert">添加新的早餐类别请定期更新活动有效期</div>
                            <div class="col-lg-8">
                                <form id="addFoodInfo">
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">早餐名:</label>
                                        <input type="text" class="form-control" id="recipient-name" v-model="productName">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">成本</label>
                                        <input type="text" class="form-control" id="recipient-name" v-model="cost">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">单价</label>
                                        <input type="text" class="form-control" id="recipient-name" v-model="price">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail2" class="control-label">活动</label>
                                        <select class="form-control" id="exampleInputEmail2">
                                            <option value="*">性别</option>
                                            <option value="1">boy</option>
                                            <option value="0">girl</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="message-text" class="control-label">Message:</label>
                                        <textarea class="form-control" id="message-text" rows="6" v-model="describe"></textarea>
                                    </div>
                                    <input type="hidden" name="addjson" value="{{$data | json 2}}">
                                </form>
                            </div>
                            <div class="col-lg-4">
                                <a href="#" class="thumbnail">
                                    <img src="/resource/img/food/b0.jpg" alt="...">
                                </a>
                                <div class="alert alert-warning" role="alert"><b>拖拽</b>图片上传</div>
                                <blockquote>
                                    <p>Image Size : 300X300</p>
                                    <footer>图片无需删除，从新拖拽上传即可覆盖当前图片</footer>
                                </blockquote>

                            </div>
                            <!-- 代码自定义片段-->
                            <!--
                            <div role="tabpanel">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#html" aria-controls="home" role="tab" data-toggle="tab">html</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#css" aria-controls="profile" role="tab" data-toggle="tab">css</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#js" aria-controls="messages" role="tab" data-toggle="tab">javascript</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="html">
<textarea class="form-control" name="zhtml" id="zhtml" rows="20" >
//你需要增加的自定义HTML元素
</textarea>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="css">
<textarea class="form-control" id="zcss" name="zcss" rows="20">
//你需要增加的自定义css样式
</textarea>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="js">
<textarea class="form-control" id="zjs" name="zjs" rows="20">
//你需要增加的自定义js
</textarea>
                                    </div>
                                </div>
                                <div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> 特殊活动使用代码自定义页面样式，专题页面等。</div>

                            </div>
                        -->
                            <div class="form-group">
                                <button type="button" class="btn btn-success btn-lg btn-block" name="addProductInfo">添加活动早餐</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="staticcount page-header clearfix">
    <div class="col-lg-3 ">
        <h3><i class="glyphicon glyphicon-yen"></i> 活动早餐列表</h3>
    </div>
    <div class="col-lg-9">
        <h4 class="text-right">

        </h4>
    </div>
</div>
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>id</th>
        <th>图片</th>
        <th>产品名称</th>
        <th>数量</th>
        <th>购买者</th>
        <th>配送地址</th>
        <th>单价</th>
        <th>配送费</th>
    </tr>
    </thead>
    <tbody>
    <tr id="activelist" v-repeat="active:actives">
        <td>{{active.id}}</td>
        <td><img src="/resource/img/food/b0.jpg" alt="..." width="66" ></td>
        <td><h4>{{active.productName}}</h4></td>
        <td>￥{{active.cost}}</td>
        <td>￥{{active.price}}</td>
        <td>{{active.describe}}</td>
        <td>{{active.updatetime}}</td>
        <td><a href="#" class="btn btn-success btn-block" data-toggle="modal" data-target=".bs-example-modal-sm" data-day="星期{{active.days}}" data-id="{{active.id}}" role="button">更新</a></td>
    </tr>
    </tbody>
</table>
<script>
//        var html = CodeMirror.fromTextArea($('textarea[name=zhtml]')[0], {
//            lineNumbers: true,
//            styleActiveLine: true,
//            matchBrackets: true
//        });
//        var css = CodeMirror.fromTextArea($('textarea[name=zcss]')[0], {
//            lineNumbers: true,
//            styleActiveLine: true,
//            matchBrackets: true
//        });
//        var js = CodeMirror.fromTextArea($('textarea[name=zjs]')[0], {
//            lineNumbers: true,
//            styleActiveLine: true,
//            matchBrackets: true
//        });
//        html.setOption("theme", 'solarized dark');
//        css.setOption("theme", 'solarized dark');
//        js.setOption("theme", 'solarized dark');
</script>
<script src="/resource/js/viewjs/productView.js"></script>
<%=include adminfooter_index.html%>