
<%=include adminheader_index.html%>
<h1 class="page-header"><span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span> 产品管理 <small>Subtext for header</small></h1>
<div class="row">
    <div class="col-sm-4" id="productlist" v-repeat="product:products">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading morningFoodDays"><h3>星期{{product.days}}</h3></div>

            <!-- Table -->
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>id</th>
                    <th>图片</th>
                    <th>价格</th>
                    <th>成本</th>
                    <th>单价</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><img src="/resource/img/food/b0.jpg" alt="..." width="50" class="img-circle"></td>
                    <td>{{product.productName}}</td>
                    <td><h4>￥{{product.price}}</h4></td>
                    <td><h4>￥{{product.cost}}</h4></td>
                    <td><a href="#" class="btn btn-success btn-block" data-toggle="modal" data-target="#exampleModal" role="button">编辑</a></td>
                </tr>
                <tr>
                    <th>id</th>
                    <th>图片</th>
                    <th>价格</th>
                    <th>成本</th>
                    <th>单价</th>
                </tr>
                </tbody>
            </table>
            <div class="panel-body">
                <p>{{product.describe}}</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">编辑当日早餐信息</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Recipient:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">确定编辑</button>
            </div>
        </div>
    </div>
</div>
<script>
    var productList = new Vue({
        el:'#productlist',
        data:{products:<%- JSON.stringify(productList) %>}
    });
</script>
<%=include adminfooter_index.html%>