<%=include adminheader_index.html%>
<h2 class="page-header"><span class="glyphicon glyphicon-grain" aria-hidden="true"></span>用户管理 <small>User Manage</small></h2>
<ol class="breadcrumb">
    <li><a href="/Admin/">Admin</a></li>
    <li class="active"><a href="/Admin/<%=http.controller%>"><%=http.controller%></a></li>
</ol>
<div class="staticcount page-header clearfix">
    <div class="col-lg-3">
        <h3>用户列表</h3>
    </div>
    <div class="col-lg-9">
        <h4 class="text-right">
            共<%=userCount%>用户 |
            订阅3名
        </h4>
    </div>
</div>
<div class="page-header ">
    <button type="button" class="btn btn-success"><i class="glyphicon glyphicon-list-alt"></i> 导出Excel</button>
    <button type="button" class="btn btn-success"><i class="glyphicon glyphicon-list-alt"></i> 导出当前页Excel</button>
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-primary">订阅用户</button>
        <button type="button" class="btn btn-default">未订阅</button>
        <button type="button" class="btn btn-default">有订单</button>
        <button type="button" class="btn btn-default">无订单</button>
        <button type="button" class="btn btn-default">boys</button>
        <button type="button" class="btn btn-default">girls</button>
    </div>
</div>
<form id="formfliter">
<div class="row">
    <div class="col-lg-1">
        <select class="form-control" v-model="searchC">
            <option>*</option>
            <option>openID</option>
            <option>ID</option>
            <option>用户名</option>
        </select>
    </div>
    <div class="col-lg-11">
        <div class="input-group">
            <input type="text" class="form-control" aria-label="..." v-model="searchV">
            <div class="input-group-btn">
                <button type="button" class="btn btn-primary" >搜索用户</button>
            </div>
        </div>
    </div>
</div>
<div class="row orderfliter">
    <div class="col-lg-2">
        <select class="form-control" v-model="sex" id="exampleInputEmail2">
            <option value="*">性别</option>
            <option value="1">boy</option>
            <option value="0">girl</option>
        </select>
    </div>
    <div class="col-lg-2">
        <select class="form-control" v-model="issubcute">
            <option value="*">订阅</option>
            <option value="0">未订阅</option>
            <option value="1s">已订阅</option>
        </select>
    </div>
    <div id="chinaSel">
    <div class="col-lg-1">
        <select class="form-control province" v-model="province" name="province"></select>
    </div>
    <div class="col-lg-1">
        <select class="form-control city" v-model="city" name="city"></select>
    </div>
    <div class="col-lg-1">
        <select class="form-control area" v-model="area" name="area"></select>
    </div>
    </div>
    <div class="col-lg-3">
        <div class="switch">
            <input type="checkbox" name="searchBlur" data-label-text="模糊匹配开关" data-off-color="danger" v-model="isblur"/>
        </div>
    </div>
    <div class="col-lg-2">
        <button type="button" class="btn btn-primary btn-block">重置条件</button>
    </div>
</div>
    <input type="hidden" id="fliterjson" value="{{$data | json}}" />
</form>
<nav><ul class="pagination">
    <%-pager%>
    <li><span>共<%=userCount%>笔数据</span></li>
</ul>
</nav>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>id</th>
            <th>头像</th>
            <th>用户</th>
            <th>性别</th>
            <th>分组</th>
            <th>语言</th>
            <th>电话</th>
            <th>localhost</th>
            <th>移动</th>
            <th>openID</th>
            <th>订阅</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <%userList.forEach(function(userList){ %>
        <tr>
            <td><%=userList.id%></td>
            <td><img src="<%=userList.face + '46'%>" width="46" class="img-circle"></td>
            <td><%=userList.username%> <span class="badge">× 2</span></td>
            <td><%if(userList.sex==1){%>boy<%}else{%>girl<%}%></td>
            <td><%=userList.group%></td>
            <td><span class="label label-default"><%=userList.language%></span></td>
            <td><%=userList.phonenum%></td>
            <td><%=userList.location%></td>
            <td><%=userList.phoneService%></td>
            <td><span class="label label-success"><%=userList.openid%></span></td>
            <td><%=userList.subscribe%></td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                        订单操作 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" data-toggle="modal" data-target=".bs-example-modal-lg"> 地址列表</a></li>
                    </ul>
                </div>
            </td>

        </tr>
        <%}); %>
        </tbody>
    </table>
    <nav><ul class="pagination">
        <%-pager%>
        <li><span>共<%=userCount%>笔数据</span></li>
    </ul>
    </nav>
</div>
<div class="modal fade bs-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">订单详情 <small>谨慎操作，该操作会造成用户数据不符。请确定提前与用户进行过沟通</small></h4>
            </div>
            <div class="modal-body">
                <h3 class="page-header">王文博 地址列表 ×3</h3>
                <table class="table table-bordered table-hover">
                    <tbody>
                    <tr>
                        <th>ID</th>
                        <th>姓名</th>
                        <th>地址</th>
                        <th>电话</th>
                        <th>区</th>
                        <th>分类</th>
                        <th>分类下属</th>
                        <th>时间</th>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>王文博</td>
                        <td>北京市朝阳区望京新城424栋1906</td>
                        <td>15117909848</td>
                        <td>望京</td>
                        <td>小区</td>
                        <td>望京西园4区</td>
                        <td>2015-06-19</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $("[name='searchBlur']").bootstrapSwitch();
    })
    var formfliter = new Vue({
        el: '#formfliter',
        data: {
            searchC:'*',
        }
    });
    $.cxSelect.defaults.url = '/resource/js/cityData.min.json';

    $('#chinaSel').cxSelect({
        selects: ['province', 'city', 'area']
    });
</script>
<%=include adminfooter_index.html%>