<%=include adminheader_index.html%>
<script>
    var userJSON = <%- JSON.stringify(userList)%>;
    var total=<%-total%>;
</script>
<h2 class="page-header"><span class="glyphicon glyphicon-grain" aria-hidden="true"></span>用户管理 <small>User Manage</small></h2>
<ol class="breadcrumb">
    <li><a href="/Admin/">Admin</a></li>
    <li class="active"><a href="/Admin/<%=http.controller%>"><%=http.controller%></a></li>
</ol>
<div class="staticcount page-header clearfix">
    <div class="col-lg-3">
        <h3>用户列表</h3>
    </div>
    <div class="col-lg-9">
        <h4 class="text-right">
            共<%=userCount%>用户 |
            订阅3名
        </h4>
    </div>
</div>
<div class="page-header ">
    <button type="button" class="btn btn-success"><i class="glyphicon glyphicon-list-alt"></i> 导出Excel</button>
    <button type="button" class="btn btn-success"><i class="glyphicon glyphicon-list-alt"></i> 导出当前页Excel</button>
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-primary selectgroup">订阅用户</button>
        <button type="button" class="btn btn-default selectgroup">未订阅</button>
        <button type="button" class="btn btn-default selectgroup">有订单</button>
        <button type="button" class="btn btn-default selectgroup">无订单</button>
        <button type="button" class="btn btn-default selectgroup">boys</button>
        <button type="button" class="btn btn-default selectgroup">girls</button>
    </div>
</div>
<form id="formfliter">
<div class="row">
    <div class="col-lg-1">
        <select class="form-control" v-model="searchC">
            <option value="*">无筛选</option>
            <option value="openid">openID</option>
            <option value="id">ID</option>
            <option value="username">用户名</option>
        </select>
    </div>
    <div class="col-lg-11">
        <div class="input-group">
            <input type="text" class="form-control" aria-label="..." v-model="searchV | changedata" lazy>
            <div class="input-group-btn">
                <button type="button" class="btn btn-primary" id="searchUsers" >搜索用户</button>
            </div>
        </div>
    </div>
</div>
<div class="row orderfliter">
    <div class="col-lg-2">
        <select class="form-control" v-model="sex" id="exampleInputEmail2">
            <option value="*">性别</option>
            <option value="1">boy</option>
            <option value="2">girl</option>
        </select>
    </div>
    <div class="col-lg-2">
        <select class="form-control" v-model="isSubscribe">
            <option value="*">订阅</option>
            <option value="0">未订阅</option>
            <option value="1">已订阅</option>
        </select>
    </div>
    <div id="chinaSel">
    <div class="col-lg-1">
        <select class="form-control province" v-model="province" name="province" v-on="click: onClick"></select>
    </div>
    <div class="col-lg-1">
        <select class="form-control city" v-model="city" name="city"></select>
    </div>
    <div class="col-lg-1">
        <select class="form-control area" v-model="area" name="area"></select>
    </div>
    </div>
    <div class="col-lg-3">
        <strong class="label label-default">判断连词 </strong>
        <label class="radio-inline">
            <input type="radio" name="_logic" v-model="logic" value="AND"> AND
        </label>
        <label class="radio-inline">
            <input type="radio" name="_logic" v-model="logic" value="OR"> OR
        </label>
        <label class="radio-inline">
            <input type="radio" name="_logic" v-model="logic" value="XOR"> XOR
        </label>
    </div>
    <div class="col-lg-2">
        <button type="button" class="btn btn-primary btn-block">重置条件</button>
    </div>
</div>
    <input type="hidden" id="fliterjson" value="{{$data | json}}" />
</form>
<nav class="page-selection-top"></nav>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>id</th>
            <th>头像</th>
            <th>用户</th>
            <th>性别</th>
            <th>分组</th>
            <th>语言</th>
            <th>localhost</th>
            <th>openID</th>
            <th>订阅</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr id="userList" v-repeat="userlist">
            <td>{{id}}</td>
            <td><img src="{{face}}" width="46" class="img-circle"></td>
            <td>{{username}} <span class="badge">× 2</span></td>
            <td>{{sex}}</td>
            <td>{{group}}</td>
            <td><span class="label label-default">{{language}}</span></td>
            <td>{{location}}</td>
            <td><span class="label label-success">{{openid}}</span></td>
            <td>{{isSubscribe}}</td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                        订单操作 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" data-toggle="modal" data-id="{{id}}" data-target=".bs-example-modal-lg"> 地址列表</a></li>
                    </ul>
                </div>
            </td>

        </tr>
        </tbody>
    </table>
    <nav class="page-selection-bottom"></nav>
</div>
<div class="modal fade bs-example-modal-lg" id="usermodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">订单详情 <small>谨慎操作，该操作会造成用户数据不符。请确定提前与用户进行过沟通</small></h4>
            </div>
            <div class="modal-body" id="address">
                <h3 class="page-header">王文博 地址列表 ×{{addressListCount}}</h3>
                <table class="table table-bordered table-hover">
                    <tbody>
                    <tr>
                        <th>ID</th>
                        <th>姓名</th>
                        <th>地址</th>
                        <th>电话</th>
                        <th>区</th>
                        <th>分类</th>
                        <th>分类下属</th>
                        <th>时间</th>
                        <th>使用次数</th>
                    </tr>
                    <tr v-repeat="addressList">
                        <td>{{id}}</td>
                        <td>{{receiveuser}}</td>
                        <td>{{address}}</td>
                        <td>{{phonenum}}</td>
                        <td>望京</td>
                        <td>小区</td>
                        <td>望京西园4区</td>
                        <td>{{time}}</td>
                        <td>{{usecount}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="/resource/js/viewjs/userView.js"></script>
<%=include adminfooter_index.html%>